@using MyAutoPartsWebStore.Web.Models.Products
@model DetailsViewModel

<div class="card" style="width: 18rem; place-content:center">
	<img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Description</h5>
		<p class="card-text">@Model.Description</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item text-center">@Model.Name</li>
		<li class="list-group-item text-center">Price - @Model.Price</li>
		<li class="list-group-item text-center">Weight - @Model.Weight</li>
	</ul>
	<div class="card-body" style="place-content:center">
		<button class="btn btn-outline-dark btn-lg" type="submit">Buy</button>
	</div>
</div>