@using MyAutoPartsStore.Models.ServiceModels.Products
@model ProductServiceDetailsModel

@inject IDealerService Dealers

@{
	ViewBag.Title = "Details";
}

<div class="description-pane" style="place-content: center">
	<div class="card">
		<img class="product-img" src="@Model.ImageUrl" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-description-title">Description</h5>
			<p class="card-text">@Model.Description</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item text-center" style="font-size: x-large">@Model.Name</li>
			<li class="list-group-item text-center" style="font-size: x-large">Price - @Math.Round(@Model.Price, 2) leva</li>
			<li class="list-group-item text-center" style="font-size: x-large">Size and Capacity - @Model.SizeCapacity</li>
			<li class="list-group-item text-center" style="font-size: x-large">Weight - @Model.Weight  kg (@Math.Round(@Model.Weight * 2.20462, 2)) lbs</li>
		</ul>
		<div class="card-body" style="place-content:center">
			@if (User.Identity.IsAuthenticated)
			{
				var userId = User.GetId();
				var userIsDealer = Dealers.IsDealer(userId);

				@if (!userIsDealer && !User.IsAdmin())
				{
					<button type="submit" class="buy-btn btn-danger">Buy</button>
				}
			}
			else
			{
				<a class="buy-btn btn-danger" asp-area="Identity" asp-page="/Account/Login">Buy</a>
			}
		</div>
	</div>
</div>