@using MyAutoPartsStore.Models.ServiceModels.Products
@model IEnumerable<ProductServiceModel>

@{
	ViewBag.Title = "My Products";
}

@if (!Model.Any())
{
	<h2 class="text-center">No products found!</h2>
	<a class="buy-btn btn-outline-dark" asp-area="" asp-controller="Product" asp-action="Add">Add Product</a>
}

<div class="row">
	@foreach (var product in Model)
	{
		<div class="col-lg-3" style="margin-top: 2em;">
			<div class="card mb-3">
				<img class="product-img text-center" src="@product.ImageUrl" alt="@product.Name - @product.Price @product.Weight">
				<div class="card-body">
					<h5 class="card-title text-center">@product.Name</h5>
					<h5 class="card-title text-center">Price - @Math.Round(product.Price, 2) leva</h5>
					<h5 class="card-title text-center">Size and Capacity - @product.SizeCapacity</h5>
					<h5 class="card-title text-center">Weight - @product.Weight kg (@Math.Round(product.Weight * 2.20462, 2) lbs)</h5>
					<div class="card-body" style="place-content:center">
						<a asp-controller="Product" asp-action="Description" asp-route-id="@product.Id" class="details-btn btn-primary">Details</a>
						<a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn alert-dark m-1">Edit</a>
						<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger m-1">Delete</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>