@using MyAutoPartsWebStore.Web.Models.Products
@using MyAutoPartsStore.Services.DealersServices
@using MyAutoPartsWebStore.Web.Infrastructure

@model ProductsSearchQueryModel
@inject IDealerService Dealers

@{
	ViewBag.Title = "Home";
	ViewBag.User = true;
}

<form method="get">
	<div class="row justify-content-center">
		<div class="flex">
			<div class="search-bar">
				<div class="input-group">
					<input class="form-control" asp-for="SearchTerm" placeholder="Search by name..." autocomplete="off" maxlength="100" />
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categories
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					@foreach (var productCategory in Model.Categories)
					{
						<a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-SearchTerm="@Model.SearchTerm" asp-route-sortingType="@productCategory.Name">@productCategory.Name</a>
					}
				</div>
			</div>
		</div>
	</div>
</form>

<div class="list-group">
	<div class="category-nav font-weight-bolder">Categories</div>
	<div class="flex category-list-holder">
		<div class="left">
			<div>
				@foreach (var category in Model.Categories)
				{
					<a asp-controller="Category" asp-action="ViewCategory" asp-route-categoryId="@category.Id" class="list-group-item list-group-item-action">@category.Name</a>
				}
			</div>
		</div>
		<div class="right">
			@if (Model.Products.Any() && Model.SearchTerm != null)
			{
				<div class="row">
					@foreach (var product in Model.Products)
					{
						<div class="col-md-3">
							<div class="card mb-3">
								<img class="product-img text-center" src="@product.ImageUrl" alt="@product.Name - @product.Price @product.Weight">
								<div class="card-body">
									<h5 class="card-title text-center">@product.Name</h5>
									<h5 class="card-title text-center">Price - @Math.Round(product.Price, 2) leva</h5>
									<h5 class="card-title text-center">Size and Capacity - @product.SizeCapacity</h5>
									<h5 class="card-title text-center">Weight - @product.Weight kg</h5>
									<div class="card-body" style="place-content:center">
										@if (User.Identity.IsAuthenticated)
										{
											var userId = User.GetId();
											var userIsDealer = Dealers.IsDealer(userId);

											<a asp-controller="Product" asp-action="Description" asp-route-id="@product.Id" class="details-btn btn-primary">Details</a>

											@if (!userIsDealer && !User.IsAdmin())
											{
												<button type="submit" class="buy-btn btn-danger">Buy</button>
											}

											@if (User.IsAdmin())
											{
												<a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn alert-dark m-1">Edit</a>
												<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger m-1">Delete</a>
											}
										}
										else
										{
											<a asp-controller="Product" asp-action="Description" asp-route-id="@product.Id" class="details-btn btn-primary">Details</a>
											<a class="buy-btn btn-danger" asp-area="Identity" asp-page="/Account/Login">Buy</a>
										}
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			}
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}